.container {
    background-color: #1c1c1c;
    padding: 40px;
    border-radius: 18px;
    color: #e0e0e0;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #fff;
    border-bottom: 2px solid #555;
    display: inline-block;
    padding-bottom: 10px;
}

.contactGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 60px;
}

.contactItem {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #3d3d3d;
}

.contactItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contactTitle {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: #e0e0e0;
}

/* who we are */
.whoWeAreContainer {
    padding: 40px;
    border-radius: 10px;
    color: #343a40;
    max-width: 1200px;
    margin: 40px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.whoWeAreGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.whoWeAreItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whoWeAreItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.whoWeAreImage {
    width: 30%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.whoWeAreItem:hover .whoWeAreImage {
    transform: scale(1.3);
}

.whoWeAreTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    color: #ddd341;
}

.whoWeAreText {
    font-size: 1em;
    line-height: 1.5;
    color: #bfd1e2;
    text-align: center;
}

/* Feedback section */
.feedbackContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 30px 35px;
    background-color: #151515;
    border-radius: 16px;
    position: relative;
}

.feedbackForm {
    flex: 1;
    padding: 20px;
}

.inputField, .textArea {
    width: 90%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgb(133, 133, 133);
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    outline: none;
}

.textArea {
    margin-bottom: 48px;
}

.inputField::placeholder, .textArea::placeholder {
    color: #fff;
}

.textArea {
    height: 50px;
}

.submitButton {
    width: 90%;
    background-color: #fff; 
    color: #1c1c1c; 
    padding: 10px 20px; 
    border: none;
    border-radius: 9px; 
    cursor: pointer;
    transition: background-color 0.8s ease, transform 0.8s ease; 
    font-size: 16px; 
    font-weight: bold;
}

.submitButton:hover {
    background-color: #FFC300; 
    transform: scale(1.05); 
}

.contactUsText {
    flex: 1;
    padding: 20px;
    color: #e0e0e0;
    position: relative;
}

.contactUsHeading {
    color: #fff;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.2;
}

.contactUsDescription {
    margin-bottom: 15px;
}

.contactUsText::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: -1;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.contactUsText:hover::before {
    transform: scale(1.15);
}

.contactImage {
    width: 100%; 
    height: auto; 
    border-radius: 16px;
}

/* Last section yee-haw */

.contactInfoContainer {
    display: flex; 
    justify-content: space-between;
    padding: 20px; 
    background-color: #2b2b2b;
    border-radius: 16px; 
    color: #fff; 
    margin-top: 40px; 
}

.contactInfo, .addressInfo, .emailInfo {
    margin-bottom: 20px; 
    text-align: center;
}

.contactHeading {
    font-size: 24px; 
    margin-bottom: 10px; 
    color: #FFD700;
}

.contactDetail, .addressDetail, .emailDetail {
    font-size: 18px; 
    margin: 5px 0; 
    color: #e0e0e0; 
}

.addressDetail {
    font-style: italic; 
}
