.main {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    font-family: "Space Grotesk";
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5% 15% 60% 20%;
    grid-template-areas: 
    "title    title    title    title    title     title     title  "
    "init     init     invested invested remaining remaining deposit"
    "chart    chart    chart    chart    chart     news      news   "
    "trending trending trending trending events    events    events ";
    grid-gap: 15px;
    margin: 10px;
}

.initial {
    grid-area: init;
}

.invested {
    grid-area: invested;
}

.remaining {
    grid-area: remaining;
}

.deposit {
    grid-area: deposit;
}

.home {
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.body {
    display: flex;
}

.container1 {
    width: 100%;
    background: transparent;
    color: white;
    display: flex;
    gap: 30px;
}

.container2 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    height: 250px;
}


.newsContainer {
    border: 2px solid var(--border-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-area: news;
    background-color: green;
}

.newsTitle {
    display: flex;
    justify-content: space-between;
}

.newsTitle>p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
}

.newsTitle>p>img {
    width: 20px;
    margin-left: 10px;
}

.newsTitle>div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.3);
    border: solid rgba(255, 255, 255, 0.3) 2px;
    border-radius: 999px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #151515;
    margin-left: 40px;
    font-size: 15px;
}

.newsTitle>div>img {
    width: 5px;
    margin-right: 5px;
}

.newsContainer>h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.graphContainer {
    align-self: center;
    justify-self: center;
    grid-area: chart;
    background-color: blue;
    border-radius: 18px;
}

.trending {
    width: 100%;
    /* background: var(--primary-color); */
    border: 2px solid var(--border-color);
    border-radius: 18px;
    /* height: 110px; */
    grid-area: trending;
    background-color: yellow;
}

.container3>p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
    font-weight: 700;
    font-size: 20px;
}

.container3>p>img {
    width: 25px;
    margin-left: 10px;
}

.spendingsContainer {
    border-radius: 18px;
    background: radial-gradient(100% 114.02% at 64.58% 0%, rgba(68, 60, 104, 0.55) 0%, rgba(217, 217, 217, 0.55) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    mix-blend-mode: hard-light;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spendingsContainer>div {
    font-size: 35px;
    font-weight: 600;
}

.overview {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    grid-area: title;
    border-radius: 18px;
    background-color: aqua;
}

.container3>h1 {
    font-size: 15px;
}

.todayList>li {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.todayList>li>img {
    width: 15px;
    margin-right: 5px;
}

.container3>h2 {
    font-size: 10px;
    margin-top: 3px;
}

.yesterdayList>li {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.yesterdayList>li>img {
    width: 12px;
    margin-right: 5px;
}