.mainContainer {
    margin-left: 330px;
    position: fixed;
    width: calc(100% - 330px);
    height: 90%;
    top: 10%;
    overflow-y: auto;
    /* background-color: rgba(255, 0, 0, 0.277); */
    border-radius: 20px;
}