.mainContainer {
    background: rgba(2, 2, 2, 1);
    width: 330px;
    /* height: 94vh; */
    display: flex;
    flex-direction: column;
    color: aliceblue;
    /* padding: 20px; */
    font-family: "Space Grotesk";
    font-weight: 700;
    position: fixed;
    height: 89%;
    padding-bottom: 1%;
    top: 10%;
}

.container {
    background: rgba(21, 21, 21, 1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 18px;
    position: relative;
    overflow: hidden;
}

.thing {
position: absolute;
width: 211.33px;
height: 107.96px;
left: 105.17px;
top: 150px;

background: linear-gradient(180deg, #697565 53.5%, #ECDFCC 100%);
filter: blur(175px);
transform: matrix(0.75, 0.66, -0.33, 0.94, 0, 0);
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
}

.linkItem {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    transition: background-color ease 1s;
}

.linkItem::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0; /* Start with 0 width */
    height: 100%;
    background-color: #948eab;
    transition: width 0.3s ease; /* Transition for width */
}

.linkItem:hover::before {
    width: 3px; /* Expands to create the "border" */
}

.linkItem:hover {
    background-color: rgba(220, 214, 241, 0.4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.linkItem>img {
    width: 20px;
    margin-right: 20px;
    margin-left: 10px;
    z-index: 1
}
.selected {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, rgba(99, 89, 133, 0.4) 50%);
    pointer-events: none
}

.selected::before {
    width: 3px; /* Expands to create the "border" */
}

.logout {
    @apply p-3;
}

.settings {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 55px;
    margin-bottom: 6px;
}

.settings>div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 16px;
}

.settings>div>img {
    width: 50px;
    margin-right: 10px;
}

.infoContainer {
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.09);
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px;
}

.infoContainer>img {
    width: 80px;
}

.info {
    margin-left: 10px;
}

.info>p {
    font-weight: 300;
    font-size: 16px;
}

.info>h6 {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    font-size: 14px;
}