:root {
    --primary-color: rgba(21, 21, 21, 1);
    --border-color: rgba(255, 255, 255, 0.04);
}

.home {
    width: 100%;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container1 {
    width: 100%;
    background: transparent;
    color: white;
    display: flex;
    gap: 30px;
}

.container2 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    height: 300px;
}

.graphContainer,
.newsContainer {
    background: var(--primary-color);
    border: 2px solid var(--border-color);
    border-radius: 18px;
    padding: 20px;
}

.container3 {
    width: 100%;
    background: var(--primary-color);
    border: 2px solid var(--border-color);
    border-radius: 18px;
    padding: 20px;
    height: 110px;
}



/* .greenLight {
    position: absolute;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
    box-shadow: 19px 19px 90px 90px rgba(27, 245, 27, 0.396);
}


.greenLight.topLeft {
    top: 10px;
    left: -100px;
}

.greenLight.topRight {
    top: -60px;
    right: -100px;
}

.greenLight.bottomLeft {
    bottom: 10px;
    left: -100px;
}

.greenLight.bottomRight {
    bottom: 10px;
    right: -100px;
} */

.spendingsContainer {
    width: 100%;
    background: var(--primary-color);
    border: 2px solid var(--border-color);
    border-radius: 18px;
    padding: 20px;
    height: 150px;
}