.logoContainer {
    @apply w-full h-full flex flex-col;
    background: rgba(2, 2, 2, 1);
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.04);
    font-family: "Space Grotesk";
}

.rightContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    @apply p-3 w-auto;
}
.logo>img {
    height: 40px;
    margin-left: 10px;
}

.path {
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    font-size: 14px;
    font-weight: 700;
    flex-direction: row;
    align-items: center;
    width: 25%;
    /* background-color: red; */
    margin-left: -25%;
}
.path>img {
    height: 20px;
}

.loopContainer {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loop {
    width: 200px;
    height: 30px;
    background: rgba(21, 21, 21, 1);
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 10px;
    border-radius: 18px;
}