.ul {
    width: 100%;
    padding: 5px;
}

.li {
    border: solid 1px #CCC;
    display: grid;
    grid-template-columns: 4fr 6fr;
    /* grid-template-rows: 100px 50px; */
    grid-template-areas: 
    "IMG TITLE"
    "IMG MORE ";
    margin: 10px 0px;
    padding: 5px;
}

.img {
    grid-area: IMG;
    align-self: center;
    justify-self: center;
}
.h3 {
    grid-area: TITLE;
    font-size: 10px;
    align-self: center;
    padding: 2px;
    font-weight: 700;
}
.a {
    grid-area: MORE;
    align-self: center;
    justify-self: center;
}